---
---

// @ts-ignore
@import "{{ site.theme }}";
.main-content {
  h1 {
    color: #1696d2;
  }
  ul {
    list-style-type: none;
  }
  ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
  }
  img[alt~="Logo"] {
    border-radius: 50%;
  }
}